USE [master]
GO
/****** Object:  Database [FilmLibraryProject]    Script Date: 3.7.2019 15:59:19 ******/
CREATE DATABASE [FilmLibraryProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FilmLibraryProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FilmLibraryProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FilmLibraryProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FilmLibraryProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FilmLibraryProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FilmLibraryProject]
GO
/****** Object:  Table [dbo].[Flimlerim]    Script Date: 3.7.2019 15:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flimlerim](
	[FlimID] [int] IDENTITY(1,1) NOT NULL,
	[FlimAdi] [nvarchar](500) NULL,
	[FlimTuru] [nvarchar](500) NULL,
	[Yonetmen] [nvarchar](500) NULL,
	[Senarist] [nvarchar](500) NULL,
	[ImdbPuani] [nvarchar](50) NULL,
	[FlimTarihi] [datetime] NULL,
	[Oyuncular] [text] NULL,
	[Konusu] [text] NULL,
	[ResimUrl] [text] NULL,
 CONSTRAINT [PK_Flimlerim] PRIMARY KEY CLUSTERED 
(
	[FlimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Flimlerim] ON 

SET IDENTITY_INSERT [dbo].[Flimlerim] OFF
/****** Object:  StoredProcedure [dbo].[FlimAraAdaGore]    Script Date: 3.7.2019 15:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[FlimAraAdaGore] 
@FlimAdi nvarchar(50)  As
select * from Flimlerim f where f.FlimAdi like @FlimAdi+'%'
GO
/****** Object:  StoredProcedure [dbo].[FlimAraFlimAdiveTariheGore]    Script Date: 3.7.2019 15:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[FlimAraFlimAdiveTariheGore] 
@FlimAdi nvarchar(50),
@FlimTarihi datetime  As
select * from Flimlerim f where f.FlimTarihi=@FlimTarihi  and f.FlimAdi like @FlimAdi+'&'
GO
/****** Object:  StoredProcedure [dbo].[FlimAraTariheGore]    Script Date: 3.7.2019 15:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[FlimAraTariheGore] 
@FlimTarihi datetime  As
select * from Flimlerim f where f.FlimTarihi=@FlimTarihi
GO
USE [master]
GO
